* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family:  'Pacifico', cursive;
  color: white;
  font-size: 7em;
  text-shadow: 2px 2px black;
}

.home-wrapper {
  height: 100vh;
  background-image: url("https://media.giphy.com/media/l0HlxmJJbxo1Uq8QU/giphy.gif");
  background-color: #77acff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.main-content {
  position: relative;
  top: 25%;
  text-align: center;

}


/*start navigation*/

ul {
    list-style-type: none;
    overflow: hidden;
    display:table; margin:0 auto;
    font-family:'Gruppo', cursive;
    font-size: 2em


}

li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background: rgba(0,0,0,.5);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#navigation {
  width: 100%;
  background: transparent;
}

.scroll-nav {
  background: rgba(0,0,0,.2);
  width: 100%;
}


/*end navigation*/



/*start of arrow*/
#scroll-d {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  margin-top: 80px;
  color: white;
  font-size: 5em;
  text-shadow: 0px -4px black;
  opacity: .9;
}

@keyframes bounce {
  to {
    transform: rotate(45deg) translateY(2rem) translateX(2rem);
    opacity: 0;
  }
}
@keyframes bounce {
  to {
    transform: translateX(2rem);
    opacity: 0;
  }
}
/*end of arrow*/



/*start of content01*/
  .content01-wrapper {
      height: 100vh;
      background: slategrey;
      padding-top: 3%;
  }

  .content01-wrapper:nth-child(2) {
    background: tomato;
  }


  .content01-wrapper:nth-child(3) {
    background: cadetblue;
  }

   .content01-wrapper:nth-child(4) {
    background: darkseagreen;
  }

  .inner-content01 {
    display: flex;
  }

  .title01 {
      font-size: 3em;
      font-family: 'Pacifico', cursive;
      color: white;
      font-weight: 700;
      text-shadow: 2px 2px black;
      text-align: center;
  }

  .image01 {
      display: flex;
      justify-content: center;
      width: 70%;
      height: 600px;
      padding-top: 2%;
  }

  .image01 img {
      width: 90%;
  }

  .image-text01 {
      margin: 2% 2% 0 0;
      width: 90%;
      justify-content: center;
      display: flex;
      width: 70%;
      background: rgba(0,0,0,.1);
      padding: 10% 0 10% 0;
  }

  .image-text01 p {
      color: white;
      font-size: 1.2em;
      width: 90%;
    font-family: 'Helvetica';
  }
  /*end of content 01*/


/*start smaller than 500px*/
@media only screen and (max-width: 500px) {
  h1 {
  font-size: 2.7em;
  transform: scaleY(1.8);
  margin-bottom: 5%;
  }

  .main-content {
    top: 30%;
  }

  .content01-wrapper {
    padding-top: 8%;
  }

  ul {
    font-size: 1em;
    font-family: 'Helvetica';
    font-weight: 700;
    text-shadow: 1px 1px 50px black;
  }

  #navigation > ul > li:nth-child(1) {
    display: none;
  }

  #navigation {
    width: 100%;
    /*background: rgba(0,0,0,.3);*/
}

  li a {
    padding: 15% 8%;
  }

  li a:hover {
    background: transparent;
  }

  /*start of content01*/
  .content01-wrapper {
      height: 100vh;
      background: slategrey;
  }

  .inner-content01 {
    display: block;
  }

  .title01 {
      font-size: 3em;
      font-family: 'Pacifico', cursive;
      color: white;
      font-weight: 700;
      text-shadow: 2px 2px black;
      text-align: center;
  }

  .image01 {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 350px;
  }

  .image01 img {
      width: 90%;
  }

  .image-text01 {
      margin-top: 2%;
      width: 90%;
      justify-content: center;
      display: flex;
      width: 100%;
      background: rgba(0,0,0,.1);
      padding: 5% 0 5% 0;
  }

  .image-text01 p {
      color: white;
      font-size: 1.1em;
      width: 90%;
  }
  /*end of content 01*/
}
/*end smaller than 500px*/





/*
.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin-top: 125px;
}


.scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg); 
  transform: rotate(45deg);
   
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.top
{
  margin-top: 1px;
}

.top, .mid, .bottom
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.top
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.mid
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.bottom
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}






@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}



*/