h1 {
  position: relative;
  z-index:100;
  text-align: center;
  font-family:  'Pacifico', cursive;;
  font-size: 100px;
  color:#fff;
  margin-bottom: -8px;
}




body {
  background-image: url(https://media.giphy.com/media/shi3hz55Vi0AE/giphy.gif);
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 87% 68em;
  background-position: center;
  background-color: #77acff;


}


/* NAV */

ul {
    list-style-type: none;
    overflow: hidden;
    display:table; margin:0 auto;
    font-family:'Gruppo', cursive;
    font-size: 2em


}

li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



