h1 {
  position: relative;
  z-index:100;
  text-align: center;
  font-family:  'Pacifico', cursive;;
  font-size: 90px;
  color:#fff;
  margin-bottom: -8px;
  margin-top: 2.6em
}




body {
  background-image: url("https://media.giphy.com/media/l0HlxmJJbxo1Uq8QU/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #77acff;


}


/* NAV */

ul {
    list-style-type: none;
    overflow: hidden;
    display:table; margin:0 auto;
    font-family:'Gruppo', cursive;
    font-size: 2em


}

li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



